<h1>Hola, soy Jose</h1>
<h2>Soy Jose, número 2</h2>
<h3>{{ welcome }}</h3>

<ul>
  <li *ngFor="let task of tasks">{{ task.name }}, {{ task.completed }}</li>
</ul>

<hr />

<h2>hola, soy {{ name }} y tengo {{ edad }} años!!!!</h2>
<p>la suma de 3 + 3 es {{ 3 + 3 }}</p>

<hr />

<img [src]="img" alt="" />
<input type="text" [value]="name" [disabled]="isDisabled" />

<button (click)="clickHandler()">lick me</button>
<button (dblclick)="clickHandler()">kick me</button>

<p>person: {{ person.name }}</p>
<p>age: {{ person.age }}</p>

Change
<input type="text" (change)="changeInput($event)" />

Key Down

<input type="text" (keydown)="keyDownHandler($event)" />

Tecla especifica
<input type="text" (keydown.shift.t)="clickHandler()" />

Signals

<p>{{ holaSignal() }}</p>
