<section class="labs">
  <h1>Hola, soy Jose</h1>
  <h2>Soy Jose, número 2</h2>
  <h3>{{ welcome }}</h3>

  <ul>
    <li *ngFor="let task of tasks()">{{ task.name }}, {{ task.completed }}</li>
  </ul>

  <hr />

  <h2>hola, soy {{ name }} y tengo {{ edad }} años!!!!</h2>
  <p>la suma de 3 + 3 es {{ 3 + 3 }}</p>

  <hr />

  <img [src]="img" alt="" />
  <input type="text" [value]="name" [disabled]="isDisabled" />

  <button (click)="clickHandler()">lick me</button>
  <button (dblclick)="clickHandler()">kick me</button>

  <p>person: {{ person().name }}</p>
  <p>age: {{ person().age }}</p>

  Change
  <input type="text" (change)="changeInput($event)" />

  Key Down

  <input type="text" (keydown)="keyDownHandler($event)" />

  Tecla especifica
  <input type="text" (keydown.shift.t)="clickHandler()" />

  Signals

  <p>{{ holaSignal() }}</p>

  <hr />

  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i + 1 }} {{ task.name }}, {{ task.completed }}
    </li>
  </ul>

  <hr />

  <h2>ngIf</h2>

  <div *ngIf="1 === 1">My content</div>

  @if (holaSignal()=== 'jelow Joselin pinguin') {
  <h3>efectivamente jai pap</h3>
  } @else {
  <div>no soy Joselin Pinguin</div>
  }

  <h3>Hola</h3>

  <h1 *ngIf="person().age > 29">cumple con la edad</h1>

  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">soy Nicolas</p>
    <p *ngSwitchCase="'julian'">soy Julian</p>
    <p *ngSwitchCase="'ana'">Soy Ana</p>
    <p *ngSwitchDefault>Mi nombre no es ninguno de esos</p>
  </div>

  <hr />

  <input type="color" [formControl]="colorCtrl" />
  <p>{{ colorCtrl.value }}</p>

  <svg>
    <circle cx="50" cy="50" r="40" [attr.fill]="colorCtrl.value" />
  </svg>

  <hr />

  <input type="number" [formControl]="witdhCtrl" />
  <p>{{ witdhCtrl.value }}</p>

  <div class="box" [style.width.px]="witdhCtrl.value"></div>

  <hr />

  <input type="text" [formControl]="nameCtrl" />
  <br />
  <span
    class="message-error"
    [class.show]="nameCtrl.invalid && nameCtrl.touched"
    >Nombre invalido</span
  >

  hola

  <h1>New For</h1>

  <!-- la nueva intefaz tiene un mejor rendimiento!  -->
  <ul>
    @for(task of tasks(); track task.name; let i = $index) {
    <li>{{ i + 1 }} {{ task.name }}</li>
    } @empty {
    <h2>No hay tareas</h2>
    }
  </ul>

  <h2>New Switch</h2>
  <h3>Before</h3>
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">soy Nicolas</p>
    <p *ngSwitchCase="'julian'">soy Julian</p>
    <p *ngSwitchCase="'ana'">Soy Ana</p>
    <p *ngSwitchDefault>Mi nombre no es ninguno de esos</p>
  </div>

  <h3>after</h3>

  <!-- Tambien tiene mejor rendimiento :0 -->

  @switch (person().name) { @case ('nicolas') {
  <p>Soy Nicolas</p>
  } @case ('julian') {
  <p>Soy Julian</p>
  } @case ('ana') {
  <p>Soy Ana</p>
  }@default {
  <p>Mi nombre no es ninguno de esos</p>
  }}
</section>
